

.top-bar {
    background-color: #2C5697;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cambiado a 100% para abarcar todo el eje horizontal */
    height: 200px;
    z-index: 0; /* Cambiado a un valor menor para enviar al fondo */
}

.logo-container {
    display: flex;
    align-items: center;
    margin-right: 100px;
    background-color: transparent;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.logo-image {
    width: 240px;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.logo-400 {
    width: 100px; /* Reducido el tamaño a 100px */
    background-color: transparent; /* Fondo transparente */
    padding: 5px;
    border-radius: 5px;
}


.vertical-line {
    width: 2px;
    height: 50px;
    background-color: white;
    margin: 0 10px;
}

.horizontal-line {
    width: 400px;
    height: 2px;
    background-color: #E0D000;
	float: right;
}

.right-section {
    float: right;
    text-align: right;
    padding-right: 20px;
    margin-top: 20px;
    background-color: transparent;
	z-index: 1;
}

.right-section p {
    font-weight: bold;
    font-size: 16px;
    color: #E0D000;
    margin: 0;
}

.small-font {
    font-size: 12px;
}


h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    z-index: 1;
}

.welcome-bar {
    background-color: #012959;
    padding: 10px 0;
    text-align: center;
}

.welcome-bar p {
    font-size: 16px;
    color: white;
}

.oscilloscope {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}

.controls label {
    font-weight: bold;
    color: black;
}

input[type="range"] {
    width: 100%;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.screen {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 20px;
    position: relative;
}

.grid {
    position: absolute;
    width: 100%;
    height: 100%;
}

.grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(0deg, transparent, transparent 10%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 20%);
    pointer-events: none;
}

.grid::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(90deg, transparent, transparent 10%, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 20%);
    pointer-events: none;
}

/* Estilos para el plano cartesiano */
.cartesian-plane {
    position: relative;
    width: 100%;
    height: 100%;
}

.axis-x, .axis-y {
    position: absolute;
    background-color: transparent;
}

.axis-x {
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2); /* Color del eje X */
    left: 4.9%;
    bottom: 50%; /* Coloca el eje X en el centro vertical */
    transform: translate(0, 50%);
}

/* Estilo para las líneas transversales */
.axis-x .line {
    position: absolute;
    width: 0.1px; /* Ancho de la línea transversal */
    height: 5px; /* Altura de la línea transversal */
    background-color: rgba(0, 0, 0, 0.5); /* Color de la línea transversal */
    top: -2.1px; /* Ajustar según la altura del eje */
}

/* Posiciones de las líneas transversales */
.axis-x .line:nth-child(1) { left: 2%; }
.axis-x .line:nth-child(2) { left: 4%; }
.axis-x .line:nth-child(3) { left: 6%; }
.axis-x .line:nth-child(4) { left: 8%; }
.axis-x .line:nth-child(5) { left: 10%; }
.axis-x .line:nth-child(6) { left: 12%; }
.axis-x .line:nth-child(7) { left: 14%; }
.axis-x .line:nth-child(8) { left: 16%; }
.axis-x .line:nth-child(9) { left: 18%; }
.axis-x .line:nth-child(10) { left: 20%; }
.axis-x .line:nth-child(11) { left: 22%; }
.axis-x .line:nth-child(12) { left: 24%; }
.axis-x .line:nth-child(13) { left: 26%; }
.axis-x .line:nth-child(14) { left: 28%; }
.axis-x .line:nth-child(15) { left: 30%; }
.axis-x .line:nth-child(16) { left: 32%; }
.axis-x .line:nth-child(17) { left: 34%; }
.axis-x .line:nth-child(18) { left: 36%; }
.axis-x .line:nth-child(19) { left: 38%; }
.axis-x .line:nth-child(20) { left: 40%; }
.axis-x .line:nth-child(21) { left: 42%; }
.axis-x .line:nth-child(22) { left: 44%; }
.axis-x .line:nth-child(23) { left: 46%; }
.axis-x .line:nth-child(24) { left: 48%; }
.axis-x .line:nth-child(25) { left: 50%; }
.axis-x .line:nth-child(26) { left: 52%; }
.axis-x .line:nth-child(27) { left: 54%; }
.axis-x .line:nth-child(28) { left: 56%; }
.axis-x .line:nth-child(29) { left: 58%; }
.axis-x .line:nth-child(30) { left: 60%; }
.axis-x .line:nth-child(31) { left: 62%; }
.axis-x .line:nth-child(32) { left: 64%; }
.axis-x .line:nth-child(33) { left: 66%; }
.axis-x .line:nth-child(34) { left: 68%; }
.axis-x .line:nth-child(35) { left: 70%; }
.axis-x .line:nth-child(36) { left: 72%; }
.axis-x .line:nth-child(37) { left: 74%; }
.axis-x .line:nth-child(38) { left: 76%; }
.axis-x .line:nth-child(39) { left: 78%; }
.axis-x .line:nth-child(40) { left: 80%; }
.axis-x .line:nth-child(41) { left: 82%; }
.axis-x .line:nth-child(42) { left: 84%; }
.axis-x .line:nth-child(43) { left: 86%; }
.axis-x .line:nth-child(44) { left: 88%; }
.axis-x .line:nth-child(45) { left: 90%; }
.axis-x .line:nth-child(46) { left: 92%; }
.axis-x .line:nth-child(47) { left: 94%; }
.axis-x .line:nth-child(48) { left: 96%; }
.axis-x .line:nth-child(49) { left: 98%; }
.axis-x .line:nth-child(50) { left: 100%; }
/* ... y así sucesivamente hasta .line:nth-child(89) { left: 89%; } */


.axis-y {
    width: 1px;
    height: 87%;
    background-color: rgba(0, 0, 0, 0.2); /* Color del eje X */
    top: 6.375%;
    right: 50%; /* Coloca el eje Y en el centro horizontal */
}
/* Estilo para las líneas transversales */
.axis-y .line {
    position: absolute;
    width: 5px; /* Ancho de la línea transversal */
    height: 0.1px; /* Altura de la línea transversal */
    background-color: rgba(0, 0, 0, 0.5); /* Color de la línea transversal */
    left: -2.1px; /* Ajustar según la altura del eje */
}

/* Posiciones de las líneas transversales */
.axis-y .line:nth-child(1) { top: 2.5%; }
.axis-y .line:nth-child(2) { top: 5%; }
.axis-y .line:nth-child(3) { top: 7.5%; }
.axis-y .line:nth-child(4) { top: 10%; }
.axis-y .line:nth-child(5) { top: 12.5%; }
.axis-y .line:nth-child(6) { top: 15%; }
.axis-y .line:nth-child(7) { top: 17.5%; }
.axis-y .line:nth-child(8) { top: 20%; }
.axis-y .line:nth-child(9) { top: 22.5%; }
.axis-y .line:nth-child(10) { top: 25%; }
.axis-y .line:nth-child(11) { top: 27.5%; }
.axis-y .line:nth-child(12) { top: 30%; }
.axis-y .line:nth-child(13) { top: 32.5%; }
.axis-y .line:nth-child(14) { top: 35%; }
.axis-y .line:nth-child(15) { top: 37.5%; }
.axis-y .line:nth-child(16) { top: 40%; }
.axis-y .line:nth-child(17) { top: 42.5%; }
.axis-y .line:nth-child(18) { top: 45%; }
.axis-y .line:nth-child(19) { top: 47.5%; }
.axis-y .line:nth-child(20) { top: 50%; }
.axis-y .line:nth-child(21) { top: 52.5%; }
.axis-y .line:nth-child(22) { top: 55%; }
.axis-y .line:nth-child(23) { top: 57.5%; }
.axis-y .line:nth-child(24) { top: 60%; }
.axis-y .line:nth-child(25) { top: 62.5%; }
.axis-y .line:nth-child(26) { top: 65%; }
.axis-y .line:nth-child(27) { top: 67.5%; }
.axis-y .line:nth-child(28) { top: 70%; }
.axis-y .line:nth-child(29) { top: 72.5%; }
.axis-y .line:nth-child(30) { top: 75%; }
.axis-y .line:nth-child(31) { top: 77.5%; }
.axis-y .line:nth-child(32) { top: 80%; }
.axis-y .line:nth-child(33) { top: 82.5%; }
.axis-y .line:nth-child(34) { top: 85%; }
.axis-y .line:nth-child(35) { top: 87.5%; }
.axis-y .line:nth-child(36) { top: 90%; }
.axis-y .line:nth-child(37) { top: 92.5%; }
.axis-y .line:nth-child(38) { top: 95%; }
.axis-y .line:nth-child(39) { top: 97.5%; }
/* ... y así sucesivamente hasta .line:nth-child(89) { left: 89%; } */

/* Puntas de flecha para los ejes 
.axis-x::before, .axis-y::before, .axis-x::after, .axis-y::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.axis-x::after {
    border-width: 10px 5px 0; /* Flecha hacia abajo 
    border-color: #000 transparent transparent transparent;
	bottom: -250px;
    left: 295px;
}

.axis-y::before {
    border-width: 5px 10px 5px 0; /* Flecha hacia la izquierda 
    border-color: transparent #000 transparent transparent;
    top: 245px;
    right: 290px;
}

.axis-x::before {
    border-width: 0 5px 10px; /* Flecha hacia arriba 
    border-color: transparent transparent #000 transparent;
    bottom: 240px;
    left: 295px;
}

.axis-y::after {
    border-width: 10px 10px 0px; /* Flecha hacia la derecha 
    border-color: transparent #000 transparent transparent;
	transform: rotate(-45deg);
    top: 250px;
    right: -300px;
}*/
/* Estilos para los títulos de ejes */
.axis-title {
    position: absolute;
    color: #000; /* Color del texto del título */
    font-weight: bold;
    font-size: 16px; /* Tamaño del texto del título */
}

.axis-x .axis-title {
    top: 5px; /* Ajusta la posición del título del eje X */
    right: -25px; /* Centra el título del eje X horizontalmente */
    transform: translateX(-50%);
}

.axis-y .axis-title {
    bottom: 10px; /* Centra el título del eje Y verticalmente */
    left: -5px; /* Ajusta la posición del título del eje Y */
    transform: translateY(-50%) rotate(-90deg); /* Rota el título del eje Y */
}
/* Estilos para el pie de página */
.logo-losmejoresparaelmundo {
    width: 240px;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

/*.footer {
    background-color: #B4B4B4; /* Color de fondo del pie de página
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}*/

.vertical-line {
    width: 1px;
    height: 40px; /* Altura de la línea vertical */
    background-color: #000; /* Color de la línea vertical */
    margin: 0 20px; /* Espacio entre la línea vertical y los iconos */
}

.social-icons a {
    text-decoration: none;
    margin-right: 10px; /* Espacio entre los iconos de redes sociales */
}

.social-icons img {
    width: 50px; /* Tamaño de los iconos de redes sociales */
}